.center {
    margin: auto;
    width: 40%;
    padding-top: 7%;
    text-align: center;
}

.title {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: Arial, sans-serif;
}

@media only screen and (max-width: 800px) {
    .center {
        width: 100%;
    }
}